*{   
 font-family: "Outfit", sans-serif;
 font-optical-sizing: auto;
 font-style: normal;
}
body{
    width: 100%;
    overflow-x: hidden;
    min-height: 100vh;
}
.nav{
    background-color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;

}
a{
    margin-right: 50px;
    color: black;
    text-decoration: none;
}
a:hover{
    border-bottom:1px solid #f07171;
    cursor: pointer;
}
.login{
    background-color: white;
    border-color: transparent;
    padding: 10px;
}
.login:hover{
   cursor: pointer;
   border-color: black;
}
.sign{
  background-color: #f07171;
  border-color: transparent;
  padding: 10px;
  color: white;
}
.sign:hover{
  background-color: brown;
  cursor: pointer;
}
.menu{
    display: none;
}
.logo-group{
    display: flex;
    align-items: center;
}
.explore-now-button{
    padding: 7px;
    background-color: #f07171;
    align-items: center;
    display: flex;
    border-color: transparent;
    color: white;
    font-size:large;
    
}


.explore-now-button:hover{
    background-color: brown;
    cursor: pointer;
}


.hero{
    
    align-items: center;
    justify-content: space-between;
    padding: 40px 20px;
}
.hero-right img{
    width: 100%;
}

.hero-paragragh{
    margin-top: 20px;
    margin-bottom: 20px;
}
.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    padding-right: 30px;
}
.hero-left{
    width: 50%;
}
.h1{
    font-size: 50px;
}
.hero2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F6F6F6;
    padding: 40px;
    margin: 20px;
}
.hero2 p{
    font-weight: 100;
}
.hero3-left{
    margin-right: 40px;
    margin-left: 40px;
}
.hero-left{
    margin-right: 100px;
}
.hero-right{
    width: 50%;
}
.hero-paragragh{
    margin-top: 20px;
    margin-bottom: 20px;
}
.rate{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}
.hero3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.rate p{
    font-weight: 100;
}
.hero-right{
    margin-left: 30px;
}
.image{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 40px;
    width: 30%;

    
}
.funiture{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}
.funiture-price{
    margin: 20px;
}
.funiture-price h1{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 50px;
    
}
.img{
    width: 100%;
    object-fit: cover;
}

.section-benefit{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}
.our-service{
    font-size: 50px;
}
.service-image{
    width: 350px;
    
}
.benefits-list{
    display: flex;
}
.benefit-button{
    padding: 7px;
    background-color: #f07171;
    align-items: center;
    display: flex;
    border-color: transparent;
    color: white;
    font-size: large;
}
.benefit-button:hover{
    background-color: brown;
    cursor: pointer;
    
}
.section-benefit-one{
    margin-left: 100px;
}
.benefit-image{
    margin-right: 100px;
}
.company-logo{
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    
}
.cus-heading{
    text-align: center;
    font-size: 50px;
}

.review{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
.review-image{
    display: flex;
}

.reviews{
    width: 25%;
   background-color: #f6f6f6;
    padding: 30px 20px ;
    border-radius: 3px;
}

.cus-heading {
  align-items: center;
  justify-content: center;  
}
.footer{
    background-color: #F6F6F6;
    padding: 30px;
    margin-top: 70px;
}
.section-eight{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-left: 200px;
}
.social-sectionn{
    width: 30%;
}
.footer-logo{
    margin-left: 130px;
}


@media screen and (max-width:426px){
    .nav-button{
        display: none;
    }
    .link{
        display: none;
    }
    .menu-icon{
        display: block;
        width: 20px;
        height: 20px;
    }
    .hero-section{
        flex-direction: column-reverse;
    }
    .hero-right{
        width: 100%;
        margin-left: 0px;
    }
    .h1{
        font-size: 1.5rem;
    }
    .hero-left{
        margin-right: 0px;
        width: 100%;
    }
    .hero2{
        flex-direction: column;
        align-items: center;
        padding: 0;
        
    }
    .hero3-left{
        margin-right: 0px;
        margin-left: 0px;
    }
    .cossyfuniture-image{
        width: 100%;
    }
    .hero3{
        flex-direction: column;
    }
    .rate{
        align-items: flex-start;
    }
    .funiture-price h1{
        font-size: 1.5rem;
        margin-top: 30px;
    }
    .image{
        width: 100%;
    }
    .section-benefit{
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
    }
    .section-benefit-one {
     margin-left: 0;
}
    .our-service {
    font-size: 1.5rem;
    }

    .benefit-image {
     margin-right: 0px;
     margin-top: 50px;
}
    .service-image {
    width: 100%; 
}
.company-logo{
    width: 100%;
    flex-wrap: wrap;
}
.microsoft{
    display: none;
}
.cus-heading{
    font-size: 1.5rem;
}
.review{
    width: 100%;
    flex-direction: column;
    gap: 20px;
}.reviews{
    width: 100%;
}
.section-eight{
    margin-left: 0;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;


}
.footer-logo{
    margin-left: 0;
}
.social-sectionn{
    width: 100%;
}
}











   